body {
  font-family: Raleway;
}

.headerImage {
margin-left: 20px;
}

.icon {
  margin-top: 25px;
  text-align: center;
  opacity: 0.85;
}

.icon:hover {
  opacity: 1.0;
}

.icon:hover {
  transition: .3s;
  transform: scale(1.15);
}

.heading1 {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Raleway;
  padding: 25px;
  font-weight: bolder
}

.heading2 {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Raleway;
  padding-bottom: 75px;
  font-weight: bolder
}

.bodyElements {
  text-align: center;
  margin-top: 50px;
  font-family: Raleway;
  font-weight: bold;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  height: 400px;
  background-color: #EEEEEE;
  padding-top: 30px;
  font-family: Raleway;
}

.socialMedia {
  margin-top: 45px;
  position: inline;
}

.pics {
  padding-left: 20px;
}

.pics:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.contentBackground{
  margin-top: 30px;
  height: 600px;
  /* background-color: #EEEEEE; */
  width: 100%;
  margin: auto;
}

.contentImage{
margin-top: auto;
}


.columns{
  padding: 30px 30px 30px 30px;
  text-align: center;
}

.pastEventsImages{
  text-align: center;
}

.rows{
  padding: 20px 20px 20px 20px;
}

.heading{
  opacity: 0.6;
}
.heading:hover{
  opacity: 1.0;
  transition: 0.3s;
}
